@using Gallery.MVC.Models
@model Gallery.MVC.Models.PartialGalleryModel

<style>

.photo-button {
    color: white;
    text-shadow:0px 0px 9px rgba(15,15,15,1);
    font-weight:normal;color:#FCFCFC;
    letter-spacing:1pt;
    word-spacing:4pt;
    font-size:30px;
    text-align:left;
    cursor: pointer;
}

    #GalleryRoot {
        width: 100%;
        align-content: center !important;
        text-align: center !important;

/*
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
*/

    }

    .swiper-container {
        height: @((int)(Model.Limits.LimitValue / Model.Ratio))px;
        /*border: 2px solid red;*/
        align-content: center;
        text-align: center;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* background: #fff; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-container {
        text-align: center;
        font-size: 18px;
        /* background: #fff; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    html, body {
        position: relative;
        height: 100%;
    }

/*
    html, body, .container, .swiper-container {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
*/
</style>

<div class="swiper-container">
<div class="swiper-wrapper">
    @foreach (var photo in Model.Topic.Blobs)
    {
        int w = photo.Width, h = photo.Height;
        if (Model.Limits.Kind == LimitKind.Height && h < Model.Limits.LimitValue)
        {
            w = (int) (w * Convert.ToDecimal(Model.Limits.LimitValue) / Convert.ToDecimal(h));
            h = Model.Limits.LimitValue;
        }
        w = (int) (w / Model.Ratio);
        h = (int) (h / Model.Ratio);
            <div id="photo_with_buttons" class="swiper-slide" style="position: relative; border: 1 solid red; width: @(w)px; height: @(h + 30)px !important; display: block">
                <div id="just_a_photo" style="border: 1px solid black; width: @(w)px; height: @(h + 0)px; border: none; display: block">
                    <img src="/api/v1/Gallery/@photo.Id" width="@(w)px" height="@(h)px" style="border: 1px solid black"/>
                </div>
@*
                <div id="buttons" style="width: @(w)px; font-size: 30px; color: white; height: 30px; border: none; display: block; position: absolute; top: @(h - 30 - 14)px; left: 10px; text-align: left">
                    &nbsp;<i class="fa fa-star-o photo-button" aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="fa fa-thumbs-o-up photo-button" aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="fa fa-thumbs-o-down photo-button" aria-hidden="true"></i>&nbsp;&nbsp;
                    <i class="fa fa-share-square-o photo-button" aria-hidden="true"></i>
                </div>
*@

            </div>

    }
    </div>
</div>

<script>
    // window.setTimeout(function() {
    // console.log("Binding swiper .....................................................");
    var swiper = new Swiper('.swiper-container',
        {
            slidesPerView: 'auto',
            spaceBetween: 20,
            mousewheel: true,
            keyboard: {
                enabled: true,
            },
        });
    // },1);
</script>
