@using Gallery.MVC.Models
@model Gallery.MVC.Models.PartialGalleryModel

@{
    const Int32 VisualsSize = 280;
}
<script>
    var galleryModel = @Html.Raw(Model.AngularModel ?? "null");
</script>

<style>

    .my-badge {
        margin-left: 3px;
    }

    #ClickVisuals {
        width: @(VisualsSize)px;
        height: @(VisualsSize)px;
        position: absolute;
        z-index: 10001;
        left: 50px;
        margin-top: @((Model.Limits.LimitValue-40)/Model.Ratio/2 - VisualsSize/2)px
    }

    .AniFront {
        width: @(VisualsSize)px;
        height: @(VisualsSize)px;
        color: white;
        position: absolute;
        font-size: @(VisualsSize*5/10)px;

        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;

        text-shadow:0px 0px 9px rgba(15,15,15,1);

    }

    .AniBack img {
        border: 1 solid green;
        position: absolute;
        z-index: 10002;
        width: @(VisualsSize)px;
        height: @(VisualsSize)px;
        left: 0px;
        top: 0px;
    }

    .AniBack {
        position: absolute;
        z-index: 10002;
    }


    .buttonHandler {
         width: 100%;
         height: @(Model.Limits.LimitValue/2)px;
         background-color: transparent;
         border: none;
         color: yellow;
         font-size: @(Model.Limits.LimitValue)px;
         line-height: @(Model.Limits.LimitValue)px;
         position: absolute;
         z-index: 9999;

         display: -webkit-box;
         display: -ms-flexbox;
         display: -webkit-flex;
         display: flex;
         -webkit-box-pack: center;
         -ms-flex-pack: center;
         -webkit-justify-content: center;
         justify-content: center;
         -webkit-box-align: center;
         -ms-flex-align: center;
         -webkit-align-items: center;
         align-items: center;

         text-align: left !important;
         text-shadow:0px 0px 9px rgba(15,15,15,1);

     }

    .photo-button {
        color: white;
        @(true || !Model.IsMobile ? "text-shadow:0px 0px 9px rgba(15,15,15,1);" : "")
        font-weight:normal;color:#FCFCFC;
        letter-spacing:1pt;
        word-spacing:4pt;
        font-size:22px;
        text-align:left;
        cursor: pointer;
    }

    .photo-button-hover {
        color: yellow !important;
    }


    #GalleryRoot {
        width: 100%;
        align-content: center !important;
        text-align: center !important;

/*
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
*/

    }

    .swiper-container {

        /*border: 2px solid red;*/
        align-content: center;
        text-align: center;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        /* background: #fff; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-container {
        text-align: center;
        font-size: 18px;
        /* background: #fff; */
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }


    html, body {
        position: relative;
        height: 100%;
        overflow: hidden;
    }

/*
    html, body, .container, .swiper-container {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
*/

</style>


<div class="buttonHandler"  ></div>
<div id="ClickVisuals">
    <div class="AniBack"><img src="images/AnimationBackground.svg" id="back-ani-img"/></div>
    <div class="AniFront"><i id="AniIcon" class="fa fa-share-square-o"></i></div>
</div>

<div class="swiper-container" style="height: @(40+(int)(Model.Limits.LimitValue / Model.Ratio))px;">
<div class="swiper-wrapper">
@foreach (var photo in Model.Topic.Blobs)
{
    int w = photo.Width, h = photo.Height;
    if (Model.Limits.Kind == LimitKind.Height && h < Model.Limits.LimitValue)
    {
        w = (int) (w * Convert.ToDecimal(Model.Limits.LimitValue) / Convert.ToDecimal(h));
        h = Model.Limits.LimitValue;
    }
    w = (int) (w / Model.Ratio);
    h = (int) (h / Model.Ratio);
    <div id="photo_with_buttons"
         class="swiper-slide"
         id-content="@photo.IdContent"
         style="width: @(w)px; height: @(h + 30)px !important; display: block; position: relative">
        
        <div id="just_a_photo" style="border: 1px solid black; width: @(w)px; height: @(h + 0)px; border: none; display: block">
            <img src="/api/v1/Gallery/@photo.Id" width="@(w)px" height="@(h)px" style="border: 1px solid black"/>
        </div>
        @if (true || !Model.IsMobile)
        {
            <div id="buttons" style="width: @(w)px; position: absolute; top: @(h + (Model.IsMobile ? 0 : 4))px; font-size: 30px; color: white; height: 30px; border: none; left: 10px; text-align: @(Model.IsMobile ? "left" : "center")">
                <i class="fa fa-star-o photo-button" aria-hidden="true" onclick="MyOnClick('fa-star-o', this)"></i><span class="badge badge-secondary my-badge">146</span>&nbsp;&nbsp;
                <i class="fa fa-thumbs-o-up photo-button" aria-hidden="true" onclick="MyOnClick('fa-thumbs-o-up', this)"></i><span class="badge badge-secondary my-badge">234.5 K</span>&nbsp;&nbsp;
                <i class="fa fa-thumbs-o-down photo-button" aria-hidden="true" onclick="MyOnClick('fa-thumbs-o-down', this)"></i><span class="badge badge-secondary my-badge" style="display: none">&nbsp;&nbsp;&nbsp;</span>&nbsp;&nbsp;
                <i class="fa fa-share-square-o photo-button" aria-hidden="true" onclick="MyOnClick('fa-share-square-o', this)"></i><span class="badge badge-secondary my-badge">34.5 M</span>
            </div>
        }
    </div>
}
</div>
</div>

<script>
    var swiper = new Swiper('.swiper-container',
        {
            slidesPerView: 'auto',
            spaceBetween: 20,
            mousewheel: true,
            keyboard: {
                enabled: true,
            },
            height: @(Model.Limits.LimitValue+30),
            autoHeight: false,
        });

    $(".buttonHandler").hide();
</script>

<script>
    // Mobile Safari in standalone mode
    if (('standalone' in window.navigator) && window.navigator.standalone) {

        window.addEventListener('load', function () {

            var links = document.links,
                link,
                i;

            for (i = 0; i < links.length; i++) {
                // Don't do this for javascript: links
                if (~(link = links[i]).href.toLowerCase().indexOf('javascript')) {
                    link.addEventListener('click', function (event) {
                        top.location.href = this.href;
                        event.returnValue = false;
                    }, false);
                }
            }

        }, false);

    }

    $("#ClickVisuals").hide();

    function MyOnClick(argClass, button) {
        // var centerButton = $(button).position().left + $(button).width() / 2;
        var centerButton = $(button).offset().left + $(button).width() / 2;
        var h = @(Model.Limits.LimitValue/3);
        var left = $(button).position().left - 30;
        var swiperWidth = $(".swiper-container").width();
        var marginLeft = centerButton - swiperWidth / 2;
        console.log("button.offset " + $(button).offset().left + ", swiperWidth " + swiperWidth + ", marginLeft " + marginLeft + ", button.left = " + $(button).position().left + ", width=" + $(button).width());

        $("#AniIcon").removeClass().addClass("fa").addClass(argClass);

        $('#ClickVisuals').show();
        var onFinish = function (arg) {
            $('#ClickVisuals').hide();
        }

        var leftContainer = $(".swiper-container").offset().left;
        var widthContainer = $(".swiper-container").width();

        var parentSlide = $(button).closest(".swiper-slide")[0];
        var leftSlide = $(parentSlide).offset().left;
        var widthSlide = $(parentSlide).width();

        var maxVisibleWidth = widthContainer - (leftSlide - leftContainer);
        var visibleWidth = widthSlide < maxVisibleWidth ? widthSlide : maxVisibleWidth;

        console.log("parent: " +
            $(parentSlide).getPath() +
            "\r\n slide.left: " +
            leftSlide +
            "\r\n slide.width: " +
            widthSlide +
            "\r\n container.left: " +
            leftContainer +
            "\r\n container.width: " +
            widthContainer + 
            "\r\n slide.visibleWidth: " +
            visibleWidth
        );

        // $(parentSlide).css({ border: '2px solid red' });
        $("#ClickVisuals").css({ left: (leftSlide -(@(VisualsSize)/2)+ visibleWidth/2) + 'px' });

        var modeBack = 'ease';
        var halfScale = 0.04;
        $('.AniFront')
            .transition({ scale: [1.0, 1.0] }, 1)
            .transition({ opacity: 1, scale: [1.0, 1.0] }, 1100)
            .transition({ opacity: 0.4, scale: [5.0, 5.0] }, 500, onFinish);
            // .transition({ opacity: 0 }, 300, onFinish);

        $('#back-ani-img')
            .transition({ scale: [1.0, 1.0], rotate: '0deg', opacity: 0.3 }, 1)
            .transition({ opacity: 1.0, rotate: '359deg', scale: [1 / (1 + halfScale), 1 / (1 + halfScale)] },
                900,
                modeBack)
            .transition({ opacity: 0.2 }, 300, 'ease')
            .transition({ opacity: 0 }, 1, modeBack);

    }

    $('.photo-button').hover(
        function () { $(this).addClass('photo-button-hover') },
        function () { $(this).removeClass('photo-button-hover') }
    );

</script>

